<!-- signup.component.html -->

<div class="container">
  <form class="signup-form" (ngSubmit)="signup()">
    <div class="p-field">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required>
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" name="password" required>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" type="text" pInputText [(ngModel)]="email" name="email" required>
    </div>
    <button type="submit" pButton label="Sign Up" class="p-button-lg">Sign Up</button>
  </form>
  <div class="img-holder">

  </div>


</div>