<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a href="/">
        <span class="logo">Blogging</span>
      </a>
    </div>

    <nav class="footer-nav">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="footer-social">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/?lang=en" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>

  <div class="footer-copyright">
    <p>&copy; 2024 Blogging. All Rights Reserved.</p>
  </div>
</footer>
