<!-- <h2>Posts</h2>
<div class="card-container d-flex flex-wrap justify-content-between">
  <p-card *ngFor="let blog of blogs; trackBy: trackByBlogId" [style.width]="'32%'  (click)="openBlogDetail(blog)" class="shadow-2 p-2">
    <div class="card-header d-flex justify-content-between">
      <h2>{{ blog.title }}</h2>
      <p-badge label="{{ blog.creator_id }}" severity="primary"></p-badge>
    </div>
    <img class="card-image" [src]="'https://apollo.primeng.org/assets/demo/images/blog/blogdetail.png'" alt="{{ blog.title }} image" />
    <div class="card-content">
      <p>{{ blog.content | slice: 0:120 }}...</p> </div>
    <p-footer>
      <a routerLink="/blogs/{{ blog.blog_id }}" class="text-primary">Read More</a>
    </p-footer>
  </p-card>
</div> -->

